.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 1;
  
}

.baloon {
  position: absolute;
  z-index: 3;
  left: 350px;
}

.speach {
  font-size: 25px;
  position: absolute;
  z-index: 4;
  left: 373px;
  top: 120px;
}

.bowser {
  width: 200px;
  position: absolute;
  z-index: 5;
  left: 650px;
  top: 250px;
}